[user]
	email = kanasanan.j@mycloudfulfillment.com
	name = Kanatsanan Janpakdee
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	cb = "!f(){ b=$(git rev-parse --abbrev-ref HEAD 2>/dev/null) || { echo \"Not a git repo (or detached HEAD).\"; exit 1; }; printf \"%s\" \"$b\" | pbcopy; echo \"Copied: $b\"; }; f"
[core]
	excludesfile = /Users/kanatsananj/.gitignore_global
  editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RF
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[color]
  ui = auto
  diff = auto
  grep = always
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	sort = -committerdate
[gpg]
	format = ssh
[interactive]
	diffFilter = diff-so-fancy --patch
